/* ================================
   COMPONENTS
   Buttons, cards, modals, etc.
   ================================ */

/* * Buttons Start */

.button {
  text-decoration: none;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: var(--radius-md);
  padding: 0.9375rem 1.875rem;
  border: none;
  font-weight: var(--font-weight-light);
  position: relative;
  overflow: hidden;
}

.section--dashboard .button {
  padding: 1.6rem;
  font-weight: var(--font-weight-medium);
  text-shadow: 0rem 0rem 0.8rem rgba(244, 244, 244, 0.4);
}

.section--dashboard .button--primary {
  background: linear-gradient(
      220deg,
      rgba(0, 0, 0, 0) 19%,
      rgba(0, 0, 0, 0.3) 81%
    ),
    #0b70c1;
}

.section--dashboard .button--tertiary {
  background: linear-gradient(
      220deg,
      rgba(0, 0, 0, 0) 19%,
      rgba(0, 0, 0, 0.3) 81%
    ),
    #00b7a5;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button--hover-shine:not(:disabled):hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  animation: shine var(--transition-slow);
}

.button.button--shine::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  animation: shine 3s linear infinite;
}

.button--hover-scale {
  transition: scale var(--transition-fast);
}

.button--hover-scale:hover {
  scale: 1.1;
}

@keyframes shine {
  100% {
    left: 100%;
  }
}

.button.button--primary {
  color: var(--white);
  background-color: var(--indigo-dye-2);
}

.button.button--secondary {
  color: var(--white);
  background-color: var(--indigo-dye);
}

.button.button--tertiary {
  color: var(--white);
  background-color: var(--lime-green);
}

.button--tertiary-outline{
  color: var(--lime-green);
  background-color: transparent;
  border: 1px solid var(--lime-green);
}

/* * Buttons End */

/* * Cards Start */
.card__item {
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0.625rem 2.1875rem #001a2d;
  border-radius: var(--radius-xl);
  padding: 2.5rem 1.875rem;
  background: radial-gradient(
      69.88% 69.87% at 4.86% 111.37%,
      rgba(0, 94, 158, 0.3) 0%,
      rgba(244, 244, 244, 0) 50%
    ),
    radial-gradient(
      118% 92.5% at 118% 1.25%,
      rgba(244, 244, 244, 0.3) 0%,
      rgba(244, 244, 244, 0) 50%
    ),
    #002945;
  gap: 1.5625rem;
  min-height: 18rem;
  transition: var(--transition-fast);
}

.card__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 50%;
  top: 50%;
  pointer-events: none;
  translate: 50% -50%;
  border: 0.125rem solid var(--border-color);
  border-radius: var(--radius-xl);
  z-index: 1;
  mask-image: linear-gradient(190deg, black 0%, transparent 30%),
    linear-gradient(10deg, black 0%, transparent 30%);
  transition: var(--transition-slow);
  opacity: 0;
}

div:has(.card__item:hover) .card__item:not(:hover) {
  scale: 0.95;
  opacity: 0.5;
}

.card__item:hover {
  scale: 1.05;
}

.card__item:hover :where(.card__icon, .card__title) {
  text-shadow: 0rem 0rem 1.25rem rgba(244, 244, 244, 0.9);
}

.card__item:hover::before {
  opacity: 1;
}

.card__icon,
.card__title {
  transition: var(--transition-slow);
  text-shadow: 0rem 0rem 1.25rem rgba(244, 244, 244, 0.4);
}

.card__icon {
  font-size: 3rem;
}

@media screen and (max-width: 992px) {
  .card__item {
    max-width: 27rem;
    margin: auto;
  }
}
/* * Cards End */

/* * Input Start */

.input__wrapper {
  position: relative;
}

.input__with-error-wrapper {
  max-width: 20rem;
}

.input__wrapper .input__item {
  width: 100%;
  padding: 0.8rem;
  border-radius: var(--radius-md);
  background-color: #000f2b;
  color: var(--white);
  border: 0.0625rem solid var(--white);
  outline: none;
  text-align: right;
  padding-left: 2rem;
  transition: var(--transition-fast);
}

.input__wrapper .input__item:focus {
  border-color: var(--lime-green);
}

.input__wrapper.input__wrapper--otp {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 0.5rem;
  max-width: unset;
}

.input__wrapper.input__wrapper--otp .input__item {
  direction: ltr;
  border-color: transparent;
  text-align: center;
  padding: 0.5rem;
  min-width: unset;
  width: 3.8rem;
  aspect-ratio: 1 / 1;
}

.input__with-error-wrapper:has(.just-validate-error-label) .input__item {
  border-color: var(--red);
}

.input__with-error-wrapper:has(.just-validate-error-label)
  .input__item:focus
  ~ .input__label-holder,
.input__with-error-wrapper:has(.just-validate-error-label)
  .input__item:not(:placeholder-shown)
  ~ .input__label-holder {
  color: var(--red);
}

.input__wrapper.input__wrapper--otp .input__item::placeholder {
  text-align: center;
}

.input__wrapper.input__wrapper--otp .input__item:focus,
.input__wrapper.input__wrapper--otp :not(.input__item:placeholder-shown) {
  border-color: var(--lime-green);
  filter: drop-shadow(0rem 0rem 1.25rem rgba(0, 183, 165, 0.5));
}

.input__wrapper .input__item::placeholder,
.input__label-holder {
  text-align: right;
  font-weight: var(--font-weight-light);
  color: rgba(234, 254, 252, 0.5);
}

.input__wrapper .input__icon,
.input__wrapper .input__label-holder {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

.input__with-error-wrapper--textarea .input__label-holder,
.input__with-error-wrapper--textarea .input__icon {
  top: 1.6rem;
}

.input__with-error-wrapper--textarea .input__item {
  transition: border-color var(--transition-fast);
}

.input__with-error-wrapper--textarea,
.input__with-error-wrapper--textarea .input__wrapper {
  width: 100%;
  max-width: unset;
}

.input__wrapper .input__label-holder {
  pointer-events: none;
  right: 0.8rem;
  transition: var(--transition-fast);
}

.input__wrapper .input__icon {
  left: 0.8rem;
  text-shadow: 0rem 0rem 1.25rem rgba(0, 183, 165, 0.5);
  color: var(--lime-green);
}

.input__wrapper .input__item:focus ~ .input__label-holder,
.input__wrapper .input__item:not(:placeholder-shown) ~ .input__label-holder {
  font-size: var(--font-size-xs);
  color: var(--lime-green);
  top: -0.8rem;
  background-color: #000f2b;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3125rem;
  translate: 0;
  /* text-shadow: 0rem 0rem 1.25rem rgba(244, 244, 244, 0.5); */
}

/* * Input End */

/* * Credit-card Start */

@keyframes card-svg-smooth-float {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.8rem);
  }
  75% {
    transform: translateY(0.8rem);
  }
}

@keyframes card-svg-opacity-breath {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.7;
  }
}

.credit-card {
  border-radius: var(--radius-lg);
  overflow: hidden;
  position: relative;
  isolation: isolate;
  background-color: #02090f;
}

.credit-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.1),
    transparent
  );
  /* animation: shine 5s linear infinite; */
}

.credit-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 50%;
  top: 50%;
  translate: 50% -50%;
  border: 0.1875rem solid var(--border-color);
  border-radius: var(--radius-lg);
  mask-image: linear-gradient(90deg, black 0%, transparent 120%);
  z-index: 1;
  pointer-events: none;
}

.credit__content {
  padding: 1.5rem;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.credit-card > img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  mix-blend-mode: color-dodge;
  object-fit: cover;
  opacity: 0.8;
}

.credit__svg-wrapper svg {
  position: absolute;
  opacity: 0.7;
}

.credit__svg-wrapper svg:first-child {
  bottom: -13.625rem;
  animation: card-svg-smooth-float 3s 0s ease-in-out infinite,
    card-svg-opacity-breath 3s 0s ease-in-out infinite alternate-reverse;
}

.credit__svg-wrapper svg:nth-child(2) {
  left: -8.125rem;
  bottom: -8.125rem;
  animation: card-svg-smooth-float 3s 1s ease-in-out infinite,
    card-svg-opacity-breath 3s 1s ease-in-out infinite alternate-reverse;
}

.credit__svg-wrapper svg:last-child {
  right: -5.625rem;
  bottom: -7.625rem;
  animation: card-svg-smooth-float 3s 2s ease-in-out infinite,
    card-svg-opacity-breath 3s 2s ease-in-out infinite alternate-reverse;
}

.credit__top {
  display: flex;
  gap: 0.8rem;
}

.credit__top * {
  text-shadow: 0rem 0rem 1.25rem rgba(244, 244, 244, 0.6);
  font-size: var(--font-size-sm);
}

.credit__right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 2rem;
  margin-bottom: 1.75rem;
}

.credit__right-side .credit__middle {
  text-shadow: 0rem 0rem 1.25rem rgba(244, 244, 244, 0.6);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.credit__left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* * Credit-card End */

/* * Table Start */
.tables-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.table-item {
  box-sizing: border-box;
  /* padding: 1.25rem; */
  border: 1px solid var(--white);
  border-radius: var(--radius-md);
  display: flex;
  overflow: hidden;
}

.table-item .left-row-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1rem 0.8rem;
}

  .table-item
  .left-row-content
  .right-content
  div:first-child {
  direction: ltr;
  text-shadow: 0rem 0rem 0.5rem rgba(244, 244, 244, 0.3);
  font-weight: var(--font-weight-medium);
}

.table-item .left-content {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 0.5rem;
}

.table-item .right-icon {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  filter: drop-shadow(0rem 0rem 0.5rem rgba(244, 244, 1244, 0.3));
}

.table-item .right-icon :where(svg, img) {
  width: 1.2rem;
}

@media screen and (max-width: 375px) {
  .table-item .right-icon--btn {
    width: 100%;
    order: 1;
  }
}

.table-item .right-icon--btn {
  background-color: var(--lime-green);
  border: none;
  transition: var(--transition-fast);
}

.table-item .right-icon--btn:hover {
  background-color: var(--indigo-dye-2);
}
/* * Table End */
