/* ================================
   RESET / BASE STYLES
   Normalize basic elements
   ================================ */

@import url(../fonts/css/primary-iran-yekan.css);

* {
  font-family: primary-font;
}

body {
  margin-inline: auto;
  min-height: 100vh;
  max-width: var(--max-width);
  padding-inline: 3.125rem;
  background: linear-gradient(
    180deg,
    var(--rich-black) 0%,
    var(--prussian-blue-4) 100%
  );
  color: var(--white);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-base);
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 576px) {
  body {
    padding-inline: 1rem;
  }
}
